@model Campaña
<div class="container">
    <div class="row">
        <div class="col-md-8" class="border">
            <h2>@Model.Nombre</h2>
             <div class="media">
                    <img class="mr-3" src="@Model.foto" style="width:28%"/>
                    <div class="media-body">
                    <p>@Model.informacion</p>
                </div>
            </div>
            <h4>Implementos a llevar</h4>
            <p>@Model.implementos</p>
            <form asp-action="RegistroCampana" method="post">
                <input type="hidden" name="cid" value="@Model.CampañaId"/>

                <div class="form-group">
                    <label>Monto a donar:</label>
                    <input type="text" class="form-control" name="monto"/>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" >
                    <label class="form-check-label" >Aceptar los terminos de Sostenibilidad Emprendedora</label>
                </div>
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </form>
        </div>
    </div>
</div>